---
layout: default
title: Research
---

<section>
<h2>Research projects</h2>
<p>
  Here are some of the projects members of this group work and have worked on.
</p>

{% assign current_projects = site.projects | where:"state","current" %}
{% assign old_projects = site.projects | where:"state","old" %}

<h3>Current projects</h3>
<ul>
{% for project in current_projects %}
<li>
  <a href="{{ project.url | relative_url }}">
  {{ project.name }}
  </a>
  ({{ project.when }})
</li>
{% else %}
<li><em>none</em></li>
{% endfor %}
</ul>

<h3>Completed projects</h3>
<ul>
{% for project in old_projects %}
<li>
  <a href="{{ project.url | relative_url }}">
  {{ project.name }}
  </a>
  ({{ project.when }})
</li>
{% else %}
<li><em>none</em></li>
{% endfor %}
</ul>

</section>

<section>
<h2>Publications</h2>

{% include publication-list.html name="all" %}
</section>
